<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heather's Daughter Bakery</title>
    <link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/hd.css"/>
</head>
<body>
    {% block body %}{% endblock %}
<script src="/static/components/jquery/dist/jquery.js"></script>
<script src="/static/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/components/vue/dist/vue.js"></script>
<script src="/static/js/bundle.js"></script>
</body>
</html>